<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	
		<!-- analy -->
		<typeAlias type="com.sinc.sat.analy.model.vo.EmployeeVO" alias="emp"/>
		<typeAlias type="com.sinc.sat.analy.model.vo.AnalysisVO" alias="analysis" /> 
		<typeAlias type="com.sinc.sat.analy.model.vo.DL_settingVO" alias="dlSetting"/> 
		<typeAlias type="com.sinc.sat.analy.model.vo.PositiveVO" alias="posit"/> 
		<typeAlias type="com.sinc.sat.analy.model.vo.TM_settingVO" alias="tmSetting"/> 
		<typeAlias type="com.sinc.sat.analy.model.vo.WeightVO" alias="weight"/> 
		
		<!-- applicant  -->
		<typeAlias type="com.sinc.sat.apply.model.vo.ApplicantVO" alias="applicant"/> 
		<typeAlias type="com.sinc.sat.apply.model.vo.DL_resultVO" alias="dlResult"/> 
		<typeAlias type="com.sinc.sat.apply.model.vo.TM_resultVO" alias="tmResult"/> 
		<typeAlias type="com.sinc.sat.apply.model.vo.PH_interviewVO" alias="phInterScore"/> 
		<typeAlias type="com.sinc.sat.apply.model.vo.FirstInterviewVO" alias="firstInterScore"/> 
		<typeAlias type="com.sinc.sat.apply.model.vo.SecondInterviewVO" alias="secondInterScore"/> 
		<typeAlias type="com.sinc.sat.apply.model.vo.ThirdInterviewVO" alias="thirdInterScore"/> 
		<typeAlias type="com.sinc.sat.apply.model.vo.FinalScoreVO" alias="finalScore"/> 
		<typeAlias type="com.sinc.sat.apply.model.vo.ApplicantQuesVO" alias="applicantQues"/>
		
	</typeAliases>
</configuration>

