<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sinc.sat.mapper.apply">	<!-- 깊은 뎁스를 주는게 용이 -->



	<!-- 지원자 / 각 전형 합격자 SELECT /////////////////////////////////////////////////////////////////////// -->
	<!-- 전체지원자 -->
	<select resultType="applicant"  id="listApplicant">
		SELECT * 
		FROM APPLICANT_TBL
	</select>

 	<!-- 서류합격자 SELECT -->
	<select resultType="applicant"  id="listApplicantPHSUC">
		SELECT * 
		FROM P_INTERVIEW_TBL
	</select>
	
	 <!-- 1차면접 합격자 SELECT-->
	<select resultType="applicant"  id="listApplicantFSUC">
		SELECT * 
		FROM F_INTERVIEW_TBL
	</select>
	
	
	 <!-- 2차면접 합격자 SELECT -->
	<select resultType="applicant"  id="listApplicantSSUC">
		SELECT * 
		FROM S_INTERVIEW_TBL
	</select>
	
	 <!-- 3차면접 합격자 SELECT -->
	<select resultType="applicant"  id="listApplicantTSUC">
		SELECT * 
		FROM T_INTERVIEW_TBL
	</select>
	<!-- 지원자 / 각 전형 합격자 SELECT/////////////////////////////////////////////////////////////////////// -->
	
	
	<!-- 각 전형 합격자 INSERT/////////////////////////////////////////////////////////////////////// -->
	<!-- 서류합격자 insert -->
	<insert id="insertPinterview" parameterType="applicant">
		INSERT INTO P_INTERVIEW_TBL VALUES(SELECT* FROM APPLICANT_TBL WHERE #{ph_suc}='Y') 
	</insert>
	
	<!-- 1차면접 합격자 insert -->
	<insert id="insertFinterview" parameterType="applicant">
		INSERT INTO F_INTERVIEW_TBL VALUES(SELECT* FROM APPLICANT_TBL WHERE #{f_suc}='Y') 
	</insert>
	
	<!-- 2차면접 합격자 insert -->
	<insert id="insertSinterview" parameterType="applicant">
		INSERT INTO S_INTERVIEW_TBL VALUES(SELECT* FROM APPLICANT_TBL WHERE #{s_suc}='Y') 
	</insert>
	
	<!-- 3차면접 합격자 insert -->
	<insert id="insertTinterview" parameterType="applicant">
		INSERT INTO T_INTERVIEW_TBL VALUES(SELECT* FROM APPLICANT_TBL WHERE #{t_suc}='Y') 
	</insert>
	<!-- 각 전형 합격자 INSERT/////////////////////////////////////////////////////////////////////// -->
	
</mapper>